*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 26px 100px;
    display: flex;
    gap: 16px;
}
header :where(input, select){
    flex: 1;
    height: 46px;
    border: 2px solid #999;
    border-radius: 5px;
    padding-left: 10px;
}
